$facebook: #3b5998;
$google-plus: #db4437;
$linkedin: #007bb6;
$twitter: #00aced;
$yahoo: #400090;

$red: #e74c3c;
$green: #2ecc71;
$blue: #2e8ece;
$yellow: #f1c40f;
$purple: #9b59b6;
$orange: #e67e22;

$bg-color: #eee;
$text-color: #4a4a4a;
$text-color-accent: #000;
$link-color: #1a0dab;
$theme-color-1: $blue;

$light-shadow: 0 2px 4px 0 #999;
$dark-shadow: 0 3px 5px 1px #666;

$banner-bg-color: #222;
$cta-bg-color: $orange;
