<header class="header">
	<a class="header--brand" href="/">{{ site.title }}</a>

	<nav class="menu">
		<label for="menu--trigger" class="menu--hamburger">
			<i class="fa fa-2x fa-bars"></i>
		</label>
		<input id="menu--trigger" type="checkbox">

		<div class="menu--links">
			<a class="menu--links--link" href="/">Home</a>
			<a class="menu--links--link" href="/about.html">About</a>
			<a class="menu--links--link" href="/resume.html">Resume</a>
			<a class="menu--links--link" href="/contact.html">Contact</a>
		</div>
	</nav>
</header>
