<div class="social">
	<a target="_blank" title="Twitter" class="social--twitter" href="{{ site.owner.twitter }}">
		<span class="fa-stack fa-lg">
			<i class="fa fa-circle fa-stack-2x"></i>
			<i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
		</span>
	</a>
	<a target="_blank" title="Google+" class="social--google-plus" href="{{ site.owner.google-plus }}">
		<span class="fa-stack fa-lg">
			<i class="fa fa-circle fa-stack-2x"></i>
			<i class="fa fa-google-plus fa-stack-1x fa-inverse"></i>
		</span>
	</a>
	<a target="_blank" title="GitHub" class="social--github" href="{{ site.owner.github }}">
		<span class="fa-stack fa-lg">
			<i class="fa fa-circle fa-stack-2x"></i>
			<i class="fa fa-github fa-stack-1x fa-inverse"></i>
		</span>
	</a>
	<a target="_blank" title="Bitbucket" class="social--bitbucket" href="{{ site.owner.bitbucket }}">
		<span class="fa-stack fa-lg">
			<i class="fa fa-circle fa-stack-2x"></i>
			<i class="fa fa-bitbucket fa-stack-1x fa-inverse"></i>
		</span>
	</a>
	<a target="_blank" title="CodePen" class="social--github" href="{{ site.owner.codepen }}">
		<span class="fa-stack fa-lg">
			<i class="fa fa-circle fa-stack-2x"></i>
			<i class="fa fa-codepen fa-stack-1x fa-inverse"></i>
		</span>
	</a>
	<!--
	<a target="_blank" title="Facebook" class="social--facebook" href="#">
		<span class="fa-stack fa-lg">
			<i class="fa fa-circle fa-stack-2x"></i>
			<i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
		</span>
	</a>
	<a target="_blank" title="LinkedIn" class="social--linkedin" href="#">
		<span class="fa-stack fa-lg">
			<i class="fa fa-circle fa-stack-2x"></i>
			<i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
		</span>
	</a>
	-->
</div>
