.alert{
	border-left: 5px solid $blue;
	padding: 10px 15px;
	color: $blue;
	background: #fff;
	margin-bottom: 30px;

	.fa{
		margin-right: 5px;
	}

	&.success{
		color: $green;
		border-color: $green;
	}

	&.danger{
		color: $red;
		border-color: $red;
	}
}
