.copy{
	line-height: 1.6;

	p, dl, pre{
		margin-bottom: 30px;
	}

	strong, th, code:not([class*="language-"]){
		color: $text-color-accent;
	}

	code:not([class*="language-"]){
		font-family: Consolas, monospace;
		background: #d7d7d7;
		padding: 3px;
	}

	ul{
		list-style-type: disc;
	}

	ul, ol{
		padding-left: 30px;
		margin-bottom: 30px;

		ul, ol{
			margin-bottom: 0;
		}
	}

	li{
		margin-bottom: 5px;
	}

	dt{
		font-weight: bold;
	}

	dd{
		margin-left: 30px;
	}

	// blockquote{}

	// figure{}
	// figcaption{}

	img{
		max-width: 100%;
		margin: 0 auto;
	}

	a{
		color: $link-color;
		&:hover{
			text-decoration: underline;
		}
	}

}
