---
layout: default
---

<article class="post copy">
	<div class="post--head">
		<h1>{{ page.title }}</h1>

		<div class="post--head--metas">
			<div class="post--head--meta">
				<span class="post--head--meta--icon">
					<img src="assets/img/my-photo-small.jpg">
				</span>
				{{ site.owner.name }}
			</div><!-- meta (author) -->

			<div class="post--head--meta">
				<span class="fa-stack fa-lg">
					<i class="fa fa-circle fa-stack-2x"></i>
					<i class="fa fa-calendar fa-stack-1x fa-inverse"></i>
				</span>
				<time datetime="{{ page.date | date: "%Y-%m-%d" }}" pubdate>{{ page.date | date: "%B %-d, %Y" }}</time>
			</div><!-- meta (date) -->
		</div><!-- metas -->

	</div><!-- head -->

	<div class="post--body">
		{{ content }}
	</div><!-- body -->

	<!--
	<div class="post--share">
		<h4>Share</h4>
		<a href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}"
			onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;" title="Share on Facebook">
			Facebook
    </a>
    <a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}"
			onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;" title="Share on Twitter">
			Twitter
    </a>
	  <a href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}"
			onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;" title="Share on Google+">
			Google+
	  </a>
	</div>
	-->

	<div class="post--comments">
		<h4>Comments</h4>
		{% if site.disqus_shortname and page.comments == true %}
			{% include disqus_comments.html %}
		{% else %}
			<i class="fa fa-ban"></i> Comments are not enabled for this post.
		{% endif %}
	</div><!-- comments -->
</article>
